# **Superstore SQL Scripts**

## **STATEWISE SALES**

In [1]:
USE Superstore
GO
SELECT TOP 5
    State,
    ROUND(SUM(Sales), 2) as TotalSales
FROM
    dbo.[Sample - Superstore]
GROUP BY
    State 
ORDER BY
    TotalSales DESC;

State,TotalSales
California,457687.63
New York,310876.27
Texas,170188.05
Washington,138641.27
Pennsylvania,116511.91

### **EXPLAINATION -**

The SQL code retrieves the top five states with the highest total sales from the "Superstore" database. It **calculates and rounds** the sales figures to two decimal places, grouping the results by state. This concise query provides insights into the leading contributors to the overall sales landscape.

## **TOTAL SALES TO PROFIT BY YEAR**

In [2]:
SELECT
    YEAR(Order_Date) AS SaleYear,
    ROUND(SUM(Profit), 1) AS Profit,
    ROUND(SUM(Sales), 1) AS TotalSales
FROM
    dbo.[Sample - Superstore]
GROUP BY
    YEAR(Order_Date)
ORDER BY
    SaleYear;

SaleYear,Profit,TotalSales
2014,49544,484247.5
2015,61618.6,470532.5
2016,81796.4,609205.6
2017,93859.3,733215.3

### **EXPLAINATION -**

<span style="color: var(--vscode-foreground);">This SQL query summarizes annual profits and total sales from the "Superstore" table, grouping the results by year and ordering them accordingly. It offers a quick overview of financial performance over different years.</span>

WARNING - "Null value is eliminated by an aggregate or other SET operation" typically occurs when you use aggregate functions like SUM() or COUNT() on a column that contains NULL values. The warning is essentially informing you that NULL values are being treated as zero (0) during the aggregation process.

<span style="color: var(--vscode-foreground);">For example, In this query, if you have a column with some NULL values and you use SUM(Profit) or SUM(Sales) in your query, the database will interpret NULL as zero for the purpose of the summation, and the warning is generated to inform you of this behavior.</span>

## **SALES AND PROFIT BY CATEGORY**

In [3]:
SELECT
    Category,
    ROUND(SUM(Sales), 1) AS TotalSales,
    ROUND(SUM(Profit), 1) AS TotalProfit
FROM
    dbo.[Sample - Superstore]
GROUP BY
    Category
ORDER BY
    Category;

Category,TotalSales,TotalProfit
Furniture,741999.8,18871.3
Office Supplies,719047,122492
Technology,836154,145454.9

### **EXPLAINATION -**

<span style="color: var(--vscode-foreground);">The provided SQL query serves to aggregate and summarize sales and profit data from the "Superstore". The data is organized by distinct product categories, offering a clear breakdown of total sales and total profit for each category. The <b>ROUND</b> function is applied to round the aggregated values to one decimal place. The <b>GROUP BY </b>clause is used to group the data based on the "Category". The final output is then ordered alphabetically by category for improved readability.&nbsp;</span>

## **STATEWISE SALES WITH AVERAGE SALES AND CATEGORIZATION**

In [9]:
SELECT TOP 10
    State,
    ROUND(AVG(Sales), 1) AS AverageSales,
    CASE
        WHEN AVG(Sales) > OverallAverage THEN 'High Sales'
        WHEN AVG(Sales) < OverallAverage THEN 'Low Sales'
        ELSE 'Average Sales'
    END AS SalesCategory
FROM (
    SELECT
        State,
        AVG(Sales) OVER () AS OverallAverage,
        Sales
    FROM
        dbo.[Sample - Superstore]
) AS Subquery
GROUP BY
    State, OverallAverage
;

State,AverageSales,SalesCategory
Alabama,319.8,High Sales
Arizona,157.5,Low Sales
Arkansas,194.6,Low Sales
California,228.7,Low Sales
Colorado,176.4,Low Sales
Connecticut,163.2,Low Sales
Delaware,285.9,High Sales
District of Columbia,286.5,High Sales
Florida,233.6,High Sales
Georgia,266.8,High Sales

### **Explaination -**

This SQL query aims to analyze and categorize the 10 states with the average sales based on the <span style="color: var(--vscode-foreground);">"Superstore". The inner <b>"Subquery,"</b> is employed to calculate the overall average&nbsp;</span>  <span style="color: var(--vscode-foreground);">sales for all states using the window function <b>AVG(Sales) OVER ()</b>. This overall average is then utilized in the outer&nbsp;</span>  <span style="color: var(--vscode-foreground);">query, where the main focus is on the states. For each state, the query calculates and rounds the average sales,&nbsp;</span>  <span style="color: var(--vscode-foreground);">and subsequently categorizes the state as 'High Sales' if its average sales exceed the overall average, 'Low Sales' if it&nbsp;</span>  <span style="color: var(--vscode-foreground);">falls below the overall average, and 'Average Sales' otherwise.&nbsp;&nbsp;</span>    <span style="color: var(--vscode-foreground);">This query serves as a valuable tool for identifying and understanding the sales dynamics of the states performance&nbsp;</span>  <span style="color: var(--vscode-foreground);">in the specified dataset.</span>

## **CUSTOMER BY SEGMENT**

In [10]:
SELECT
    Segment,
    COUNT(DISTINCT Customer_ID) AS TotalConsumers
FROM
   dbo.[Sample - Superstore]
GROUP BY
    Segment;

Segment,TotalConsumers
Corporate,236
Home Office,148
Consumer,409

### **EXPLAINATION -**

This SQL query extracts the count of distinct consumers in each segment from the "Superstore". The **COUNT(DISTINCT Customer\_ID)** expression tallies unique customer IDs within each segment, offering a concise overview of consumer distribution across market segments in the dataset.